---
import Page from '../layouts/Page.astro'

import MusicRelease from '../components/MusicRelease.astro'

import backgroundImage from '../assets/fish bg 2.jpg'

import athenasPlaygroundCover from '../assets/athena\'s playground cover.jpg'
import theMountainUndergroundCover from '../assets/the mountain underground cover.png'
import livingElementsCover from '../assets/living elements cover.jpg'
import waterInBloomCover from '../assets/water in bloom cover.jpg'
import retransmitCover from '../assets/retransmit cover.png'
import iSawSkullsCover from '../assets/I saw skulls cover.jpg'
import pixellatedBeachCover from '../assets/pixellated beach cover.png'
import plastickCover from '../assets/plastick cover.png'
import alienAdventureCover from '../assets/alien adventure cover.jpg'
import morningGreyshadowCover from '../assets/morning greyshadow cover.jpg'
import skyInTheFishVersionCover from '../assets/sky in the fish (version) cover.png'
import numbersCover from '../assets/numbers cover.png'
import generatorCover from '../assets/generator cover.png'
---
<Page>
<div class="p-3 bg-cover" style={`background-image: url("${backgroundImage}");`}>
    <div class="prose prose-zinc mx-auto text-center prose-headings:mb-3 mb-4">
        <h1>Music Releases</h1>
        <p>
            I produce experimental electronic music, which I post on <a href="https://soundcloud.com/finnhackett">SoundCloud</a>, as well as other music sites via a distributor.
            Not guaranteed to be easy listening, but I hope it's entertaining.
        </p>
    </div>
    
    <div class="mt-4 gap-4 flex flex-row flex-wrap justify-center">
        <MusicRelease title="athena's playground" href="https://soundcloud.com/finnhackett/sets/athenas-playground" img={athenasPlaygroundCover} />
        <MusicRelease title="the mountain underground" href="https://soundcloud.com/finnhackett/sets/the-mountain-underground" img={theMountainUndergroundCover} />
        <MusicRelease title="living elements" href="https://soundcloud.com/finnhackett/sets/living-elements" img={livingElementsCover} />
        <MusicRelease title="water, in bloom" href="https://soundcloud.com/finnhackett/sets/water-in-bloom" img={waterInBloomCover} />
        <MusicRelease title="retransmit" href="https://soundcloud.com/finnhackett/sets/retransmit" img={retransmitCover} />
        <MusicRelease title="I saw skulls" href="https://soundcloud.com/finnhackett/sets/i-saw-skulls" img={iSawSkullsCover} />
        <MusicRelease title="pixellated beach" href="https://soundcloud.com/finnhackett/sets/pixellated-beach" img={pixellatedBeachCover} />
        <MusicRelease title="plastick" href="https://soundcloud.com/finnhackett/sets/plastick" img={plastickCover} />
        <MusicRelease title="alien adventure" href="https://soundcloud.com/finnhackett/sets/alien-adventure" img={alienAdventureCover} />
        <MusicRelease title="morning greyshadow" href="https://soundcloud.com/finnhackett/sets/morning-greyshadow" img={morningGreyshadowCover} />
        <MusicRelease title="sky in the fish (version)" href="https://soundcloud.com/finnhackett/sets/sky-in-the-fish-version" img={skyInTheFishVersionCover} />
        <MusicRelease title="numbers" href="https://soundcloud.com/finnhackett/sets/numbers-1" img={numbersCover} />
        <MusicRelease title="generator" href="https://soundcloud.com/finnhackett/sets/ocularis-1" img={generatorCover} />
    </div>
</div>
</Page>
